@use "../../../../scss/util" as u;

.header {
    background-color: u.$color-primary;
    display: flex;
    align-items: center;
    gap: 15px;
    height: 60px;
    border-radius: 10px;
    padding: 20px;

    &-inputSearch {
        width: 38%;
    }
}