<nav class="navBar">
  <div class="navBar-menu">
    <div class="navBar-menu-appName">
      <span>Phrases Memory</span>
    </div>
    <div class="navBar-menu-modulesLinks" *ngFor="let option of options; let i = index">
      <div class="navBar-menu-wrapperOption" [ngClass]="option.isActive ? 'active' : 'inactive'">
        <span class="material-symbols-outlined"> {{option.icon}} </span>
        <a (click)="navigateTo(i)">{{option.name}} </a>
      </div>
    </div>
    
    <div class="navBar-menu-dividerWrapper">
      <span class="navBar-menu-divider"></span>
    </div>
    <div class="navBar-menu-wrapperOption" [ngClass]="false ? 'active' : 'inactive'">
      <span class="material-symbols-outlined">folder_open</span>
      <a href="https://portfoliobradev.netlify.app/" target="_blank"> Portafolio </a>
    </div>
    <div class="navBar-menu-wrapperOption" [ngClass]="false ? 'active' : 'inactive'">
      <span class="material-symbols-outlined">
        assignment_returned
      </span>
      <a href="assets/CV-BraianRosales.pdf" download> CV </a>
    </div>
  </div>
  <div class="navBar-bottom">
    <app-get-an-account class="navBar-bottom-getAnAccount"></app-get-an-account>
  </div>
</nav>