<nav class="navBar">
  <div class="navBar-menu">
    <div class="navBar-menu-appName">
      <span>Phrases Memory</span>
    </div>
    <div class="navBar-menu-modulesLinks">
      <div class="navBar-menu-wrapperOption" [ngClass]="true ? 'active' : 'inactive'">
        <span class="material-symbols-outlined"> dashboard </span>
        <a href="https://www.example.com">Dashboard</a>
      </div>
      <div class="navBar-menu-wrapperOption" [ngClass]="false ? 'active' : 'inactive'">
        <span class="material-symbols-outlined"> info </span>
        <a> Información </a>
      </div>
      <div class="navBar-menu-wrapperOption" [ngClass]="false ? 'active' : 'inactive'">
        <span class="material-symbols-outlined"> kid_star </span>
        <a> Favoritas </a>
      </div>
      <div class="navBar-menu-wrapperOption" [ngClass]="false ? 'active' : 'inactive'">
        <span class="material-symbols-outlined"> manufacturing</span>
        <a>Configuración</a>
      </div>
      <div class="navBar-menu-dividerWrapper">
        <span class="navBar-menu-divider"></span>
      </div>
      <div class="navBar-menu-wrapperOption" [ngClass]="false ? 'active' : 'inactive'">
        <span class="material-symbols-outlined">folder_open</span>
        <a> Portafolio </a>
      </div>
      <div class="navBar-menu-wrapperOption" [ngClass]="false ? 'active' : 'inactive'">
        <span class="material-symbols-outlined">
          assignment_returned
        </span>
        <a> CV </a>
      </div>
    </div>
  </div>
  <div class="navBar-bottom">
    <app-get-an-account class="navBar-bottom-getAnAccount"></app-get-an-account>
  </div>
</nav>