<main class="dashboard">
  <app-header (clickedOnSearch)="searchMeaning($event)"></app-header>
  Loading meanings: {{loading$ | async}}
  <div class="dashboard-top">
    <app-meaning-board class="dashboard-top-meaningBoard"></app-meaning-board>
    <app-login class="dashboard-top-login"></app-login>
  </div>
  <div class="dashboard-bottom">
    <app-cards-board class="dashboard-bottom-cardsBoard"></app-cards-board>
    <app-card-search-history class="dashboard-bottom-searchHistory"></app-card-search-history>
  </div>
</main>