.app {
  display: flex;
  width: 100%;
  height: 100%;

  &-navBar {
    width: 18%;
  }

  &-content {
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;

    &-router {
      height: 100%;
    }
  }
}
