<main class="board">
  <ng-container *ngIf="board$ | async as board">
    <div class="board-content" *ngIf="board.word">
      <h1>{{ board.word }}</h1>
      <div class="board-content-definitions">
        <div
          class="board-content-example"
          *ngFor="let definition of board.definitions; let i = index"
        >
          <div class="board-content-textWrapper">
            <div class="board-content-textMultiLenguage">
              <div>
                <p>Definición: {{ definition.definition }}</p>
                <p>
                  Ejemplo:
                  {{ definition.example ? definition.example : "No example." }}
                </p>
              </div>
              <div *ngIf="translations[i]">
                <p>{{ translations[i].definitionTranslated }}</p>
                <p>{{ translations[i].exampleTranslated }}</p>
              </div>
            </div>
          </div>
          <div class="board-content-buttonWrapper">
            <app-button
              (click)="translate(definition.definition, definition.example, i)"
              panelClass="tertiary"
              text="Traducir"
            ></app-button>
            <app-button panelClass="tertiary" text="Guardar"></app-button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</main>
